
<tr class=<%= cycle("odd", "even") %> >
	<td class="grid_4 alpha">
		<%= profile.screen_name %>
	</td>
	<td class="grid_3">
		<%= profile.industry %>
	</td>
	<td class="grid_3">
		<%= profile.company %>
	</td>
	<td class="grid_4 ">
		<%= profile.title %>
	</td>	
	<td class="grid_2 omega">
		<%= link_to("show", profile_path(profile) ) %>
		<% if current_user.admin? %>
			&nbsp;|&nbsp; <%= link_to("edit", edit_profile_path(profile) ) %>
		<% end %>		
	</td>
	
</tr >