<div id="profile">
	<h2>Profile for <%= @profile.screen_name %> </h2>
	<div class="grid_2 alpha right">
		Name:<br />
		Company:<br />
		Title:<br />
		Industry:<br />
		Specialty:<br />
		Chapter:<br />
		Parish:<br />
		Phone:<br />
		Mentor:<br />
		email:<br />
		About Me:<br />
	</div>
	<div class="grid_10 omega left">
		<%= "#{@profile.screen_name}"%><br />
		<%= "#{@profile.company}"%><br />
		<%= "#{@profile.title}"%><br />
		<%= "#{@profile.industry}"%><br />
		<%= "#{@profile.industry_specialty}"%><br />
		<%= "#{@profile.chapter}"%><br />
		<%= "#{@profile.parish}"%><br />	
		<%= "True" if @profile.mentor %><br />
		<%= "#{@profile.phone_number}"%><br />		
		<%= mail_to(@profile.email) %><br />
		<%= "#{@profile.about_me}"%><br />
	</div>
	<div class="clear"></div>
	<div class="grid_3 alpha right">
		<%= link_to("Facebook", @profile.facebook_link )%>
	</div>
	<div class="grid_3 right">
		<%= link_to("LinkedIn", @profile.linkedin_link )%>
	</div>
	<div class="grid_3 omega right">
		<%= link_to("Twitter", @profile.twitter_link )%>
	</div>
	<div class="clear"></div>		
</div>