<div id="profile">
	<h2>Profile for <%= @profile.screen_name %> </h2>
	<div class="grid_2 alpha right">
		Name:<br /><br />
		Company:<br /><br />
		Title:<br /><br />
		Industry:<br /><br />
		Specialty:<br /><br />
		Chapter:<br /><br />
		Parish:<br /><br />
		Phone:<br /><br />
		Mentor:<br /><br />
		email:<br /><br />
		About Me:<br /><br />
	</div>
	<div class="grid_10 omega left">
		<%= "#{@profile.screen_name}"%><br /><br />
		<%= "#{@profile.company}"%><br /><br />
		<%= "#{@profile.title}"%><br /><br />
		<%= "#{@profile.industry}"%><br /><br />
		<%= "#{@profile.industry_specialty}"%><br /><br />
		<%= "#{@profile.chapter}"%><br /><br />
		<%= "#{@profile.parish}"%><br /><br />
		<%= "#{@profile.phone_number}"%><br /><br />	
		<%= "True" if @profile.mentor %><br /><br />
		<%= mail_to(@profile.email) %><br /><br />
		<%= "#{@profile.about_me}"%><br /><br />
	</div>
	<div class="clear"></div>
	<div class="grid_3 alpha right">
		<%= link_to("Facebook", @profile.facebook_link )%>
	</div>
	<div class="grid_3 right">
		<%= link_to("LinkedIn", @profile.linkedin_link )%>
	</div>
	<div class="grid_3 omega right">
		<%= link_to("Twitter", @profile.twitter_link )%>
	</div>
	<div class="clear"></div>		
</div>