<h2>Dashbord</h2>

<ul class="tabs">
	<li class="<%= @users_tab_selected %>"><%= link_to("Users", admin_users_path )%></li>
	<li class="<%= @other_tab_selected %>"><%= link_to("Other", admin_users_path )%></li>
</ul>	

<div class="tab_body grid_16">
	<%= yield :tab  %>
</div>	