<div id='header-container'>
	<div id='logo'><a href='#'>Young Catholic Professionals</a></div>
	<div id='main-nav'>
		<ul>
			<% if current_user %>
				<li><%= link_to("View Member Profiles", profiles_path)%></li>
				<li><%= link_to("My Profile", edit_profile_path(current_user.profile))%></li>
				<li><%= link_to("Account Info", account_show_path(current_user))%></li>
				<li><%= link_to("Logout", session_logout_path )%></li>
				<% if current_user.admin? %>
					<li><%= link_to("Manage Users", admin_users_path )%></li>
				<% end %>	
			<% end %>	
		
		</ul>
	</div>
			
</div>
