<!DOCTYPE html>
<html>
<head>
  <title>Contacts</title>
  <%= stylesheet_link_tag    "grid" %>
  <%= stylesheet_link_tag    "text" %>
  <%= stylesheet_link_tag    "main-style" %>
  <%= stylesheet_link_tag    "main-font" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body class='one-column'>


		<div id="header">
			<%= render 'layouts/header' %>
		</div>

		<div id="flash_error">	
			<%= (render 'layouts/error', {:error => flash[:error]}) if flash[:error] %>
		</div>

		<div id="flash_notice">	
			<%= (render 'layouts/notice', {:notice => flash[:notice]}) if flash[:notice] %>
		</div>

		<div id='content'>
			<div id="content-container">
				<div id="main-content">
			<%= yield %>
		</div>
		</div>
		</div>
<!--
		<div id="footer">
			<%= render 'layouts/footer' %>
		</div>
-->
	

</body>
</html>



